import { createMocks } from '@backbase/foundation-ang/data-http';
import { Provider } from '@angular/core';

let example;

const {{baseName}}Examples = [];
{{#operations}}
    {{#operation}}
const {{nickname}}Examples = [
    {
        urlPattern: "{{{basePathWithoutHost}}}{{path}}",
        method: "{{#lambda.uppercase}}{{httpMethod}}{{/lambda.uppercase}}",
        responses: [
        {{#responses}}

        {{#examples}}
            {{#isJson}}
            {
                status: {{{code}}},
                body: {{{prettyPrintValue}}}
            },
            {{/isJson}}
            {{^isJson}}
                {
                status: {{{code}}},
                body: "{{#escapeJavascript}}{{{prettyPrintValue}}}{{/escapeJavascript}}"
                },
            {{/isJson}}
        {{/examples}}
    {{/responses}}
    ]
}];
{{baseName}}Examples.push({{nickname}}Examples);
/**
* Mocks provider for {{{basePathWithoutHost}}}{{pattern}} URL pattern
*/
export const {{classname}}{{#lambda.titlecase}}{{nickname}}{{/lambda.titlecase}}MocksProvider = /*#__PURE__*/ createMocks({{nickname}}Examples);

    {{/operation}}
{{/operations}}
export const {{classname}}MocksProvider = /*#__PURE__*/ createMocks({{baseName}}Examples);


