{
  "name": "{{{npmName}}}",
  "version": "{{{npmVersion}}}",
  "description": "OpenAPI client for {{{npmName}}}",
  "backbase": {
    {{#specVersion}}
    "specVersion": "{{{specVersion}}}"
    {{/specVersion}}
    {{#artifactId}}
    "artifactId": "{{{artifactId}}}"
    {{/artifactId}}
    {{#groupId}}
    "groupId": "{{{groupId}}}"
    {{/groupId}}
  },
  "keywords": [
    "backbase",
    "web",
    "wa3",
    "wc3",
    "openapi-mock",
    "openapi-generator"
  ],
  "license": "Unlicense",
  "scripts": {
    "build": "ng-packagr -p ng-package.json"
  },
  "peerDependencies": {
    "@angular/core": "^{{ngVersion}}",
    "@backbase/foundation-ang": "^{{foundationVersion}}"
  },
  "devDependencies": {
    "@angular/common": "~{{ngVersion}}",
    "@angular/compiler": "~{{ngVersion}}",
    "@angular/compiler-cli": "~{{ngVersion}}",
    "@angular/core": "~{{ngVersion}}",
    "@angular/platform-browser": "~{{ngVersion}}",
    "ng-packagr": "^{{ngPackagrVersion}}",
    "reflect-metadata": "^0.1.3",
    "@backbase/foundation-ang": "~{{foundationVersion}}",
    "rxjs": "~{{rxjsVersion}}",
    "tsickle": "^{{tsickleVersion}}",
    "typescript": "{{{tsVersion}}}",
    "zone.js": "^{{zonejsVersion}}"
  }{{#npmRepository}},
  "publishConfig": {
    "registry": "{{{npmRepository}}}"
  }
{{/npmRepository}}

}
