## {{npmName}}@{{npmVersion}}

### Building

To install the required dependencies and to build the typescript sources run:
```
npm install
npm run build
```

### publishing

First build the package then run ```npm publish dist``` (don't forget to specify the `dist` folder!)

### consuming

Navigate to the folder of your consuming project and run one of next commands.

_published:_

```
npm install {{npmName}}@{{npmVersion}} --save
```

#### General usage

In your Angular project:

todo
