{{#useOptional}}{{!
    }}{{#required}}{{!
         }}{{>validatedDataType}}{{!
    }}{{/required}}{{!
    }}{{^required}}{{!
        }}Optional<{{>validatedDataType}}>{{!
    }}{{/required}}{{!
}}{{/useOptional}}{{!
}}{{^useOptional}}{{!
    }}{{>validatedDataType}}{{!
}}{{/useOptional}}