<div class="fake property">
    <span class="name">{{baseName}}</span>
    <div class="json-schema-view">
        <div class="primitive">
            <span class="type">{{datatype}}</span>
            <span class="format">{{dataFormat}}</span>
            <div class="inner description">{{description}}</div>
        </div>
    </div>
</div>
