<!--// Script section to load models into a JS Var-->
<!--var defs = {}-->
<!--{{#models}}-->
<!--    {{#model}}-->
<!--        defs["{{name}}"] = {{{modelJson}}};-->
<!--    {{/model}}-->
<!--{{/models}}-->

<!--var requestBodies = {};-->
<!--{{#requestBodies}}-->
<!--    requestBodies["name"] = {{{jsonSchema}}};-->
<!--{{/requestBodies}}-->

<!--var responses = {};-->
<!--{{#responses}}-->
<!--    responses["{{code}}"] = {{{jsonSchema}}};-->
<!--{{/responses}}-->

<!--var parameters = {};-->
<!--{{#parameters}}-->
<!--    parameters["{{paramName}}"] = {{{jsonSchema}}};-->
<!--{{/parameters}}-->

{{=< >=}}
<#models>
  <#model>
    import("<name>');
    </model>
</models>
<={{ }}=>
