{{^hideGenerationTimestamp}}@{{^useJakartaEe}}javax{{/useJakartaEe}}{{#useJakartaEe}}jakarta{{/useJakartaEe}}.annotation.Generated(value = "{{generatorClass}}", date = "{{generatedDate}}"){{/hideGenerationTimestamp}}