package {{package}};

import {{invokerPackage}}.ApiClient;
import {{invokerPackage}}.BaseApi;

{{#imports}}import {{import}};
{{/imports}}

import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Locale;
import java.util.Map;
import java.util.stream.Collectors;

{{#useBeanValidation}}
import {{javaxPackage}}.validation.constraints.*;
import {{javaxPackage}}.validation.Valid;

{{/useBeanValidation}}
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;
import org.springframework.util.LinkedMultiValueMap;
import org.springframework.util.MultiValueMap;
import org.springframework.web.client.RestClientException;
import org.springframework.web.client.HttpClientErrorException;
import org.springframework.core.ParameterizedTypeReference;
import org.springframework.core.io.FileSystemResource;
import org.springframework.http.HttpHeaders;
import org.springframework.http.HttpMethod;
import org.springframework.http.HttpStatus;
import org.springframework.http.MediaType;
import org.springframework.http.ResponseEntity;

{{>generatedAnnotation}}

{{#generateClientAsBean}}
@Component("{{package}}.{{classname}}")
{{/generateClientAsBean}}
{{#operations}}
public class {{classname}} extends BaseApi {

    public {{classname}}() {
        super(new ApiClient());
    }

    {{#generateClientAsBean}}
    @Autowired
    {{/generateClientAsBean}}
    public {{classname}}(ApiClient apiClient) {
        super(apiClient);
    }

    {{#operation}}
    {{! Keep positional methods for zero- and one-parameter operations.
    For multi-parameter operations, use *Param when singleRequestParameter is enabled. }}
    {{^singleRequestParameter}}
    {{>libraries/resttemplate/positionalMethods}}
    {{/singleRequestParameter}}
    {{#singleRequestParameter}}
    {{^hasParams}}
    {{>libraries/resttemplate/positionalMethods}}
    {{/hasParams}}
    {{#hasSingleParam}}
    {{>libraries/resttemplate/positionalMethods}}
    {{/hasSingleParam}}
    {{! Param-object methods: 2+ params when singleRequestParameter=true }}
    {{#hasParams}}
    {{^hasSingleParam}}
    {{>libraries/resttemplate/singleRequestParameter}}
    {{/hasSingleParam}}
    {{/hasParams}}
    {{/singleRequestParameter}}

    {{#-last}}

    @Override
    public <T> ResponseEntity<T> invokeAPI(String url, HttpMethod method, Object request, ParameterizedTypeReference<T> returnType) throws RestClientException {
        String localVarPath = url.replace(apiClient.getBasePath(), "");
        Object localVarPostBody = request;

        final Map<String, Object> uriVariables = new HashMap<String, Object>();
        final MultiValueMap<String, String> localVarQueryParams = new LinkedMultiValueMap<String, String>();
        final HttpHeaders localVarHeaderParams = new HttpHeaders();
        final MultiValueMap<String, String> localVarCookieParams = new LinkedMultiValueMap<String, String>();
        final MultiValueMap<String, Object> localVarFormParams = new LinkedMultiValueMap<String, Object>();

        final String[] localVarAccepts = { {{#hasProduces}}
            {{#produces}}"{{{mediaType}}}"{{^-last}}, {{/-last}}{{/produces}}
        {{/hasProduces}} };
        final List<MediaType> localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        final String[] localVarContentTypes = { {{#hasConsumes}}
            {{#consumes}}"{{{mediaType}}}"{{^-last}}, {{/-last}}{{/consumes}}
        {{/hasConsumes}} };
        final MediaType localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] { {{#authMethods}}"{{name}}"{{^-last}}, {{/-last}}{{/authMethods}} };

        return apiClient.invokeAPI(localVarPath, method, uriVariables, localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, returnType);
    }
    {{/-last}}
    {{/operation}}
}
{{/operations}}
