.response-content-block {
  display: block;
  margin-top: -4px;
  width: 100%!important;
}

.response-content-block > p {
width: calc(60% - 32px) !important;
}

.response-content-block.collapsed {
display: none;
}


.response-content-block .schema-block {
width: 100%;
flex: 1;
}

.response-content-block .exampleStyle {
width: 100%;
display: flex;
}


.exampleStyle .left-side{
width: calc((100% + 64px) * 0.6 - 32px)
}

.response-header-tab {
  display: block;
  border: 0px;
  width: 100%;
  text-align: left;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 4px;
  line-height: 1.5em;
  cursor: pointer;
  color: rgb(29, 129, 39);
  background-color: rgba(29, 129, 39, 0.07);
}

.response-header-tab-handle {
  cursor: pointer;
  margin: auto 0.3em;
  font-size: 10px;
  display: inline-block;
  transform-origin: 50% 20%;
  transition: transform 150ms ease-in;
  position: relative;
  width: 8px;
  height: 8px;
}

.response-header-tab-handle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 4px solid rgb(29, 129, 39);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.response-header-tab-handle:after {
  content: "" !important;
  position: absolute;
  left: 2px;
  top: 0;
  border-top: 2px solid #fff;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}
.response-header-tab.collapsed .response-header-tab-handle {
  transform: rotate(-90deg);
}

.response-header-tab[data-code^="4"],
.response-header-tab[data-code^="5"] {
  color: rgb(212, 31, 28);
  background-color: rgba(212, 31, 28, 0.07);
}

.response-header-tab[data-code^="4"] .response-header-tab-handle:before,
.response-header-tab[data-code^="5"] .response-header-tab-handle:before {
  border-top: 4px solid rgb(212, 31, 28);
}
