package {{modelPackage}};

import java.util.List;
import java.util.Map;
import java.util.Objects;

/**
 * Predefined request object for posthook endpoints containing API response and the request details.
 */
public class PosthookRequest extends ServletContent {

    private PrehookRequest requestDetails;

    public PosthookRequest body(String body) {
        this.setBody(body);
        return this;
    }

    public PosthookRequest headers(Map<String, List<String>> headers) {
        this.setHeaders(headers);
        return this;
    }

    public PosthookRequest parameters(Map<String, String[]> parameters) {
        this.setParameters(parameters);
        return this;
    }

    public PosthookRequest requestDetails(PrehookRequest requestDetails) {
        this.requestDetails = requestDetails;
        return this;
    }

    public PrehookRequest getRequestDetails() {
        return requestDetails;
    }

    public void setRequestDetails(PrehookRequest requestDetails) {
        this.requestDetails = requestDetails;
    }

    @Override
    public boolean equals(Object o) {
        if (this == o) {
            return true;
        }
        if (o == null || getClass() != o.getClass()) {
            return false;
        }
        PosthookRequest posthookRequest = (PosthookRequest) o;
        return super.equals(o) && Objects.equals(this.requestDetails, posthookRequest.requestDetails);
    }

    @Override
    public int hashCode() {
        return super.hashCode() + Objects.hash(requestDetails);
    }

    @Override
    public String toString() {
        StringBuilder sb = new StringBuilder();
        sb.append("class PosthookRequest {\n");
        sb.append("    body: ").append(toIndentedString(getBody())).append("\n");
        sb.append("    headers: ").append(toIndentedString(getHeaders())).append("\n");
        sb.append("    parameters: ").append(toIndentedString(getParameters())).append("\n");
        sb.append("    requestDetails: ").append(toIndentedString(requestDetails)).append("\n");
        sb.append("}");
        return sb.toString();
    }
}