package {{modelPackage}};

import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.Objects;

public abstract class ServletContent {
    private String body;
    private Map<String, List<String>> headers;
    private Map<String, String[]> parameters;

    public ServletContent() {
    }

    /**
     * Create copy.
     *
     * @param content other instance
     */
    public ServletContent(ServletContent content) {
        if (content != null) {
            this.body = content.getBody();
            this.headers = content.getHeaders();
            this.parameters = content.getParameters();
        }
    }

    public String getBody() {
        return body;
    }

    public void setBody(String body) {
        this.body = body;
    }

    public Map<String, List<String>> getHeaders() {
        return headers;
    }

    public void setHeaders(Map<String, List<String>> headers) {
        this.headers = headers;
    }

    /**
     * Add a header overwriting existing.
     *
     * @param name header name
     * @param value header value
     */
    public void putHeader(String name, String value) {
        if (this.headers == null) {
            this.headers = new HashMap<>();
        }
        this.headers.put(name, List.of(value));
    }

    public Map<String, String[]> getParameters() {
        return parameters;
    }

    public void setParameters(Map<String, String[]> parameters) {
        this.parameters = parameters;
    }

    /**
     * Add a parameter overwriting existing.
     *
     * @param name parameter name
     * @param value parameter value
     */
    public void putParameter(String name, String value) {
        if (this.parameters == null) {
            this.parameters = new HashMap<>();
        }
        this.parameters.put(name, new String[]{value});
    }

    @Override
    public boolean equals(Object o) {
        if (this == o) {
            return true;
        }
        if (o == null || !(o instanceof ServletContent servletContent)) {
            return false;
        }
        return Objects.equals(this.body, servletContent.body) &&
            Objects.equals(this.headers, servletContent.headers) &&
            Objects.equals(this.parameters, servletContent.parameters);
    }

    @Override
    public int hashCode() {
        return Objects.hash(body, headers, parameters);
    }


    protected String toIndentedString(Object o) {
        if (o == null) {
            return "null";
        }
        return o.toString().replace("\n", "\n    ");
    }
}