import { NgModule, ModuleWithProviders, SkipSelf, Optional } from '@angular/core';
import { {{configurationClassName}}{{#withMocks}}, CONFIG_TOKEN{{/withMocks}} } from './configuration';
import { HttpClient } from '@angular/common/http';

{{#withMocks}}
import { DataModulesManager } from "@backbase/foundation-ang/data-http";
{{/withMocks}}

@NgModule({
  imports:      [],
  declarations: [],
  exports:      [],
  providers:    []
})
export class {{apiModuleClassName}} {
    public static forRoot(configurationFactory: () => {{configurationClassName}}): ModuleWithProviders<{{apiModuleClassName}}> {
        return {
            ngModule: {{apiModuleClassName}},
            providers: [ { provide: {{configurationClassName}}, useFactory: configurationFactory } ]
        };
    }

    constructor( @Optional() @SkipSelf() parentModule: {{apiModuleClassName}},
                 @Optional() http: HttpClient,
                 {{#withMocks}}
                 @Optional() dataModulesManager: DataModulesManager | null,
                 config: {{configurationClassName}},
                 {{/withMocks}}

        ) {
        if (parentModule) {
            throw new Error('{{apiModuleClassName}} is already loaded. Import in your base AppModule only.');
        }
        if (!http) {
            throw new Error('You need to import the HttpClientModule in your AppModule! \n' +
            'See also https://github.com/angular/angular/issues/20575');
        }

        {{#withMocks}}
        if (dataModulesManager) {
            dataModulesManager.setModuleConfig(CONFIG_TOKEN, {
                apiRoot: '',
                servicePath: config.basePath || '',
                headers: {},
            });
        }
        {{/withMocks}}
    }
}
