import { createMocks } from '@backbase/foundation-ang/data-http';
import { Provider } from '@angular/core';

{{#operations}}
    {{#operation}}
/**
* Mocks provider for {{{basePathWithoutHost}}}{{pattern}} URL pattern
*/
export const {{classname}}{{#lambda.titlecase}}{{nickname}}{{/lambda.titlecase}}MocksProvider: Provider = createMocks([{
        urlPattern: "{{{basePathWithoutHost}}}{{pattern}}",
        method: "{{#lambda.uppercase}}{{httpMethod}}{{/lambda.uppercase}}",
        responses: [
        {{#responses}}
            {{#examples}}
                {{#isJson}}
                {
                    status: {{{code}}},
                    body: {{{prettyPrintValue}}}
                },
                {{/isJson}}
                {{^isJson}}
                    {
                    status: {{{code}}},
                    body: "{{#escapeJavascript}}{{{prettyPrintValue}}}{{/escapeJavascript}}"
                    },
                {{/isJson}}
            {{/examples}}
            {{#hasEmptyBody}}
                {
                status: {{{code}}},
                body: ""
                },
            {{/hasEmptyBody}}
        {{/responses}}
    ]
}]);
    {{/operation}}
{{/operations}}

export const {{classname}}MocksProvider: Provider = createMocks(
    [{{#operations}}
    {{#operation}}
    {
        urlPattern: "{{{basePathWithoutHost}}}{{pattern}}",
        method: "{{#lambda.uppercase}}{{httpMethod}}{{/lambda.uppercase}}",
        responses: [
        {{#responses}}

        {{#examples}}
            {{#isJson}}
            {
                status: {{{code}}},
                body: {{{prettyPrintValue}}}
            },
            {{/isJson}}
            {{^isJson}}
                {
                status: {{{code}}},
                body: "{{#escapeJavascript}}{{{prettyPrintValue}}}{{/escapeJavascript}}"
                },
            {{/isJson}}
        {{/examples}}
        {{#hasEmptyBody}}
        {
          status: {{{code}}},
          body: ""
        },
        {{/hasEmptyBody}}
    {{/responses}}
    ]
},
    {{/operation}}
{{/operations}}]
);


