{
  "name": "{{{npmName}}}",
  "version": "{{{npmVersion}}}",
  "description": "OpenAPI client for {{{npmName}}}",
  "backbase": {
    {{#specVersion}}
    "specVersion": "{{{specVersion}}}",
    {{/specVersion}}
    {{#specArtifactId}}
    "specArtifactId": "{{{specArtifactId}}}",
    {{/specArtifactId}}
    {{#specGroupId}}
    "specGroupId": "{{{specGroupId}}}",
    {{/specGroupId}}
    {{#inputSpecRelative}}
    "inputSpecRelative": "{{{inputSpecRelative}}}",
    {{/inputSpecRelative}}
    {{#specClassifier}}
    "specClassifier": "{{{specClassifier}}}",
    {{/specClassifier}}
    {{#specType}}
    "specType": "{{{specType}}}"
    {{/specType}}
  },
  "keywords": [
    "backbase",
    "web",
    "wa3",
    "wc3",
    "openapi-client",
    "openapi-generator"
  ],
  "scripts": {
    "build": "ng-packagr -p ng-package.json"
  },
  "peerDependencies": {
    "@angular/common": ">={{ngVersion}}",
    "@angular/core": ">={{ngVersion}}",
    "rxjs": ">={{rxjsVersion}}"
  },
  "devDependencies": {
    "@angular/common": "^{{ngVersion}}",
    "@angular/compiler": "^{{ngVersion}}",
    "@angular/compiler-cli": "^{{ngVersion}}",
    "@angular/core": "^{{ngVersion}}",
    "@angular/router": "^{{ngVersion}}",
    "@angular/platform-browser": "^{{ngVersion}}",
    "@ngrx/effects": "^{{ngVersion}}",
    "@ngrx/store": "^{{ngVersion}}",
    "ng-packagr": "^{{ngPackagrVersion}}",
    "reflect-metadata": "^0.1.3",
    "rxjs": "^{{rxjsVersion}}",
    "typescript": "~{{{tsVersion}}}",
    "zone.js": "^{{zonejsVersion}}"
  }{{#npmRepository}},
  "publishConfig": {
    "registry": "{{{npmRepository}}}"
  }{{/npmRepository}}
}
