{
    "compilerOptions": {
        "baseUrl": ".",
        "inlineSourceMap": true,
        "inlineSources": true,
        "skipLibCheck": true,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": true,
        "importHelpers": true,
        "noImplicitAny": false,
        "suppressImplicitAnyIndexErrors": true,
        "target": "{{#supportsES6}}es6{{/supportsES6}}{{^supportsES6}}es5{{/supportsES6}}",
        "module": "{{#supportsES6}}es6{{/supportsES6}}{{^supportsES6}}commonjs{{/supportsES6}}",
        "moduleResolution": "node",
        "removeComments": false,
        "sourceMap": true,
        "outDir": "./dist",
        "noLib": false,
        "declaration": true,
        "lib": [ "es2018", "dom" ],
        "typeRoots": [
            "node_modules/@types"
        ]
    },
    "exclude": [
        "node_modules",
        "dist"
    ],
    "filesGlob": [
        "./model/*.ts",
        "./api/*.ts",
        "**/*.ngfactory.ts",
        "**/*.shim.ts",
        "**/*.spec.ts"
    ],
    "angularCompilerOptions": {
        "enableIvy": true,
        "compilationMode": "partial",
        "skipTemplateCodegen": true,
        "strictMetadataEmit": true,
        "fullTemplateTypeCheck": true,
        "enableResourceInlining": true
    }
}
