import { createMocks } from '@backbase/foundation-ang/data-http';
import { Provider } from '@angular/core';

let example;

const serviceExamples = [];
{{#pathOperations}}
{{#hasExamples}}
const {{pathName}}Examples = [];
{{#operations}}
{{#examples}}

example = {
  urlPattern: "{{{basePathWithoutHost}}}{{pattern}}",
  method: "{{#lambda.uppercase}}{{httpMethod}}{{/lambda.uppercase}}",
  responses: [
    {
      status: {{{statusCode}}},
      body: {{{example}}}
    }
  ]
};

{{pathName}}Examples.push(example);
serviceExamples.push(example);

{{/examples}}
{{/operations}}
/**
 * Mocks provider for {{{basePathWithoutHost}}}{{pattern}} URL pattern
 */
export const {{classname}}{{#lambda.titlecase}}{{pathName}}{{/lambda.titlecase}}MocksProvider: Provider = createMocks({{pathName}}Examples);

{{/hasExamples}}
{{/pathOperations}}
export const {{classname}}MocksProvider: Provider = createMocks(serviceExamples);
