.response-content-block {
  display: none;
}

.response-header-tab {
  display: block;
    border: 0px;
    width: 100%;
    text-align: left;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 4px;
    line-height: 1.5em;
    cursor: pointer;
    color: rgb(29, 129, 39);
    background-color: rgba(29, 129, 39, 0.07);
}