.json-schema-view * {
  font-size: 14px;
}

.json-schema-view,
json-schema-view {
  display: flex !important;
}

.json-schema-view {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.property .json-schema-view {
  padding-bottom: 16px;
  border-bottom: 1px solid #e3e3e3;
}

.json-schema-view .property > *,
json-schema-view .property > * {
  flex: 2;
}

.json-schema-view .name,
json-schema-view .name {
  flex: 0 20%;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.5em;
  color: rgb(51, 51, 51) !important;
  display: flex;
  position: relative;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  text-rendering: optimizespeed !important;
}

.json-schema-view .property,
json-schema-view .property {
  display: flex !important;
  margin-bottom: 16px;
}

.brace {
  display: none !important;
}

.bracket {
  margin-left: 8px;
}

.json-schema-view .type,
json-schema-view .type {
  display: inline-flex;
  vertical-align: middle;
  font-size: 13px;
  line-height: 20px;
  color: rgba(102, 102, 102, 0.9);
}

.json-schema-view .default,
json-schema-view .default {
  vertical-align: middle;
  font-size: 13px;
  line-height: 20px;
  border-radius: 2px;
  color: #6f6f6f !important;
  background-color: #f7f7f9;
  margin: 0px 5px;
  padding: 0px 5px;
  border: 1px solid #e1e1e8;
  font-family: Courier, monospace;
}

.json-schema-view .format,
json-schema-view .format {
  display: inline-flex;
  vertical-align: middle;
  font-size: 13px;
  line-height: 20px;
  color: rgba(102, 102, 102, 0.9);
}

.json-schema-view .pattern {
  vertical-align: middle;
  font-size: 13px;
  line-height: 20px;
  color: rgb(14, 124, 134);
}

.json-schema-view .range {
  vertical-align: middle;
  font-size: 13px;
  line-height: 20px;
  border-radius: 2px;
  background-color: rgba(104, 104, 207, 0.05);
  color: rgba(50, 50, 159, 0.9);
  margin: 0px 5px;
  padding: 0px 5px;
  border: 1px solid rgba(50, 50, 159, 0.1);
  font-family: Courier, monospace;
}

.json-schema-view .inner,
json-schema-view .inner {
  margin-bottom: 8px;
}

.json-schema-view .description,
json-schema-view .description {
  margin-bottom: 12px;
  font-size: 14px;
  white-space: pre-wrap;
  word-break: break-word;
}

.json-schema-view .toggle-handle,
json-schema-view .toggle-handle {
  position: relative;
  width: 4px;
  height: 4px;
  left: -8px;
}
.json-schema-view .toggle-handle:after,
json-schema-view .toggle-handle:after {
  content: "" !important;
  position: absolute;
  left: 2px;
  top: 0;
  border-top: 2px solid #fff;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

.json-schema-view .toggle-handle:before,
json-schema-view .toggle-handle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 4px solid #333;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

a.title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.json-formatter-string {
  padding: 2px 4px;
  color: #6f6f6f !important;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
  white-space: pre-wrap;
  word-break: break-word;
}

.json-formatter-toggler-link {
  margin-bottom: 8px;
  display: flex;
}

.json-formatter-children {
  display: flex;
  flex-wrap: wrap;
}

.json-formatter-key {
  display: none;
}

.json-formatter-row .json-formatter-row {
  margin: 0 8px 0 0 !important;
}

.json-formatter-row .json-formatter-children.json-formatter-empty {
  display: none;
}

.json-formatter-row .json-formatter-bracket,
.json-formatter-row .json-formatter-number {
  color: rgba(102, 102, 102, 0.9) !important;
}

.fake.property .json-schema-view {
  display: flex;
  flex-direction: row;
}
.fake.property .json-schema-view .primitive {
  flex: 3;
  padding-right: 16px;
}
.fake.property .examples {
  flex: 1;
}
.fake.property .examples h3 {
  margin-top: 0;
  padding-top: 0;
}
