.response-content-block {
  display: none;
}
.response-content-block[data-code^="2"] {
  display: block;
}

.response-header-tab {
  display: block;
  border: 0px;
  width: 100%;
  text-align: left;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 4px;
  line-height: 1.5em;
  cursor: pointer;
  color: rgb(29, 129, 39);
  background-color: rgba(29, 129, 39, 0.07);
}

.response-header-tab[data-code^="4"],
.response-header-tab[data-code^="5"] {
  color: rgb(212, 31, 28);
  background-color: rgba(212, 31, 28, 0.07);
}
