<div class="fake property">
    <span class="name">{{baseName}}</span>
    <div class="json-schema-view">
        <div class="primitive">
            <span class="type">{{dataTypeDisplayName}}</span>
            {{#required}}
                <span class="required">*</span>
            {{/required}}
            <span class="format">{{format}}</span> 
            
            {{#hasDefaultValue}}
                <span class="default">
                    default: {{defaultValue}}
                </span>
            {{/hasDefaultValue}}

            {{#pattern}}
                <span class="pattern">{{.}}</span>
            {{/pattern}}

            {{#minLength}}
                <span class="range minLength">minLength:{{.}}</span>
            {{/minLength}}
            {{#maxLength}}
                <span class="range maxLength">maxLength:{{.}}</span>
            {{/maxLength}}
            {{#exclusiveMaximum}}
                <span class="range">exclusive maximum {{.}}</span>
            {{/exclusiveMaximum}}
            {{#exclusiveMinimum}}
                <span class="range">exclusive minimum {{.}}</span>
            {{/exclusiveMinimum}}

            {{#isRange}}
                <span class="range">minimum: {{mininum}} maximum: {{maximum}}</span>
            {{/isRange}}
            
            <div class="inner description">{{description}}</div>

            {{#isEnum}}
                <div class="inner enums">
                    <b>Enum</b>
                    <div class="json-formatter-row json-formatter-open inner">
                        <div class="json-formatter-children json-formatter-object json-formatter-array">
                            {{#allowableValues}}
                                {{#enumVars}}
                                    <div class="json-formatter-row">
                                        <div class="json-formatter-toggler-link">
                                            <span class="json-formatter-string">{{name}}</span>
                                        </div>
                                    </div>
                                {{/enumVars}}
                            {{/allowableValues}}
                        </div>
                    </div>
                </div>
            {{/isEnum}}
   {{#deprecated}} <span class="deprecated">Deprecated</span> {{/deprecated}}
        </div>
        {{#hasExamples}}
            <div class="examples">
                <h3><b>Examples</b></h3>
                {{#examples}}
                    {{#example}}
                    <div class="inner json-formatter-string">{{value}}</div>
                    {{/example}}
                {{/examples}}
            </div>
        {{/hasExamples}}
    </div>
</div>
