<tr>
    <td style="width:150px;">
        <span>{{baseName}}</span>{{^required}}{{/required}}
        {{#required}}
            <div class="inner required">*</div>
        {{/required}}
    </td>
    <td>
        <div>
            <span class="datatype">{{dataTypeDisplayName}} <span class="format">{{format}}</span> </span>
            {{#pattern}}
                <span>pattern:</span> pattern: <span class="pattern">{{.}}</span>
            {{/pattern}}

            {{#minLength}}
                <span>&lt;&equals; {{.}} characters</span>
            {{/minLength}}
            {{#maxLength}}
                <span>&lt;&equals; {{.}} characters</span>
            {{/maxLength}}
            {{#exclusiveMaximum}}
                <span>exclusive maximum {{.}}</span>
            {{/exclusiveMaximum}}
            {{#exclusiveMinimum}}
                <span>exclusive minimum {{.}}</span>
            {{/exclusiveMinimum}}
            {{#isRange}}
                <span class="range">minimum: {{mininum}} maximum: {{maximum}}</span>
            {{/isRange}}

        </div>
        {{#isEnum}}
            <div>Items Enum: {{#allowableValues}}
                {{#enumVars}}
                    <code>{{name}}</code>
                {{/enumVars}}
            {{/allowableValues}}
            </div>
        {{/isEnum}}

        {{#hasExamples}}
            <ul class="nav nav-tabs">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Examples</a>
                    <div class="dropdown-menu">
                        {{#examples}}
                            <a class="dropdown-item" href="#">{{name}}</a>
                        {{/examples}}
                    </div>
                </li>
            </ul>
        {{/hasExamples}}
        {{#hasSingleExample}}
            <div>
                Example: <code>{{example}}</code>
            </div>
        {{/hasSingleExample}}
        {{#hasDefaultValue}}
            <div>
                Default: <code>{{defaultValue}}</code>
            </div>
        {{/hasDefaultValue}}

        <p>{{description}}</p>
    </td>

</tr>
