<h3 class="response-header-tab collapsed" data-code="{{code}}" id="examples-{{baseName}}-{{nickname}}-title-{{code}}"></h3>
<div class="response-content-block" data-code="{{code}}" id="examples-{{baseName}}-{{nickname}}-title-{{code}}-content">
    <p id="examples-{{baseName}}-{{nickname}}-description-{{code}}" class="marked"></p>
    <div class="exampleStyle" id="responses-{{baseName}}-{{nickname}}-{{code}}-wrapper" style='margin-bottom: 10px;'>
        {{#hasHeaders}}
            <h3>Headers</h3>
            <div id="responses-{{nickname}}-{{code}}-headers">
                <div class="json-schema-view">
                    {{#headers}}
                        {{>header}}
                    {{/headers}}
                </div>
            </div>
        {{/hasHeaders}}
        {{#schema}}
            <h3>Schema</h3>
            <div id="responses-{{baseName}}-{{nickname}}-{{code}}-schema">
                <div id="responses-{{baseName}}-{{nickname}}-schema-{{code}}">
                    <script>
                        $(document).ready(function() {
                          var schemaWrapper = {{{jsonSchema}}};
                          var schema = findNode('schema', schemaWrapper.content).schema;

                          if (!schema) {
                            schema = schemaWrapper.schema;
                          }
                          if (schema.$ref != null) {
                            schema = defsParser.$refs.get(schema.$ref);
                            if (schema.type === 'array' && schema.items != null && schema.items.$ref != null) {
                                schema.items = defsParser.$refs.get(schema.items.$ref);


                            }
                          }else if (schema.type === 'array' && schema.items != null && schema.items.$ref != null) {
                            schema.items = defsParser.$refs.get(schema.items.$ref);
                          } else {
                            schemaWrapper.definitions = Object.assign({}, defs);
                            $RefParser.dereference(schemaWrapper).catch(function(err) {
                              console.log(err);
                            });
                          }

                          if (schema && schema.allOf) {
                              schema.allOf = schema.allOf.map( i =>  i.$ref ? defsParser.$refs.get(i.$ref) : i).filter(Boolean);
                              schema = mergeAllOf(schema,  {
                                resolvers: {
                                  defaultResolver: mergeAllOf.options.resolvers.title
                                }
                              });
                            }

                          if (schema.items && schema.items.allOf) {
                              schema.items.allOf = schema.items.allOf.map( i =>  i.$ref ? defsParser.$refs.get(i.$ref) : i).filter(Boolean);
                              schema.items = mergeAllOf(schema.items,  {
                                resolvers: {
                                  defaultResolver: mergeAllOf.options.resolvers.title
                                }
                              });
                            }

                          var view = new JSONSchemaView(schema, 3);
                          $('#responses-{{baseName}}-{{nickname}}-{{code}}-schema-data').val(JSON.stringify(schema));
                          var result = $('#responses-{{baseName}}-{{nickname}}-schema-{{code}}');
                          result.empty();
                          result.append(view.render());
                        });
                </script>
            </div>
            <input id='responses-{{baseName}}-{{nickname}}-{{code}}-schema-data' type='hidden' value=''></input>
        </div>
        {{#examples}}
            <h3>Examples</h3>
            <div id="examples-{{baseName}}-{{nickname}}-{{code}}-example">
                <pre class="prettyprint"><code class="json">{{example}}</code></pre>
            </div>
        {{/examples}}
        {{/schema}}
    </div>
</div>
<script>
  var response{{baseName}}{{code}}_description = `{{{message}}}`;
  var response{{baseName}}{{code}}_description_break = response{{baseName}}{{code}}_description.indexOf('\n');
  if (response{{baseName}}{{code}}_description_break == -1) {
    $("#examples-{{baseName}}-{{nickname}}-title-{{code}}").html("<span class='response-header-tab-handle'></span> <b>{{code}}</b> " + response{{baseName}}{{code}}_description);
  } else {
    $("#examples-{{baseName}}-{{nickname}}-title-{{code}}").html("<span class='response-header-tab-handle'></span> <b>{{code}}</b> " + response{{baseName}}{{code}}_description.substring(0, response{{baseName}}{{code}}_description_break));
    $("#examples-{{baseName}}-{{nickname}}-description-{{code}}").html(response{{baseName}}{{code}}_description.substring(response{{baseName}}{{code}}_description_break));
  }
</script>
