<configuration>
    <appender name="COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight([%level]) [%logger{10}] %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="COLOR"/>
    </root>
    <logger name="com.backbase.oss.boat" level="ALL"/>
    <logger name="com.backbase.oss.boat.loader.RamlResourceLoader" level="INFO"/>
    <logger name="org.raml" level="INFO"/>
</configuration>