{{#isContainer}}{{^isMap}}{{^isArray}}Types.newParameterizedType(List::class.java, {{{baseType}}}::class.java){{/isArray}}{{/isMap}}{{/isContainer}}{{#isMap}}Types.newParameterizedType(Map::class.java, String::class.java, {{{baseType}}}::class.java){{/isMap}} {{#isArray}}Types.newParameterizedType(List::class.java, {{{baseType}}}::class.java){{/isArray}} {{^isContainer}}{{{dataType}}}::class.java{{/isContainer}}