{{#isPrimitiveType}}params.{{{paramName}}}{{^required}}{{/required}}.{{#isNumber}}toPlainString(){{/isNumber}}{{^isNumber}}toString(){{/isNumber}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{^allowableValues.empty}}{{#enumVars.empty}}{{>api_parameter_model_type}}.let { moshi.adapter<{{{dataType}}}>(it).toJson(params.{{{paramName}}}) }{{/enumVars.empty}}{{^enumVars.empty}}params.{{{paramName}}}{{^required}}{{/required}}.toString(){{/enumVars.empty}}{{/allowableValues.empty}}{{#allowableValues.empty}}params.{{{paramName}}}{{^required}}{{/required}}.toString(){{/allowableValues.empty}}{{/isPrimitiveType}}