plugins {
    alias(thirdPartiesLibs.plugins.android.lib)
    alias(thirdPartiesLibs.plugins.kotlin.android)
    alias(thirdPartiesLibs.plugins.jfrog)
    alias(thirdPartiesLibs.plugins.dokka)
    alias(thirdPartiesLibs.plugins.kotlinx.compatibility.validator)
    alias(thirdPartiesLibs.plugins.poko)
    alias(thirdPartiesLibs.plugins.kotlin.parcelize)
    alias(thirdPartiesLibs.plugins.ksp)
}
group '{{packageName}}'
version = '{{artifactVersion}}'
android {
    namespace = "{{packageName}}"
    compileSdk = 34
    defaultConfig {
        minSdk = 26
    }
    compileOptions {
        sourceCompatibility = JavaVersion.VERSION_17
        targetCompatibility = JavaVersion.VERSION_17
    }
    kotlinOptions {
        jvmTarget = JavaVersion.VERSION_17.toString()
    }
}
dependencies {
    implementation(foundationLibs.msdk)
    implementation(midTierLibs.clients.common)
    implementation(thirdPartiesLibs.moshi.kotlin.core)
    ksp(thirdPartiesLibs.moshi.kotlin.codegen)
}
