{{#description}}
    /* {{{description}}} */
{{/description}}
    {{#moshi}}
    @Json(name = "{{{baseName}}}")
    {{/moshi}}
    {{#gson}}
    @SerializedName("{{name}}")
    {{/gson}}
{{#isDeprecated}}
    @Deprecated(message = "This field has been deprecated")
{{/isDeprecated}}
    val {{{name}}}: {{#isFreeFormObject}}@kotlinx.android.parcel.RawValue {{/isFreeFormObject}}{{#isEnum}}{{#isListContainer}}{{#isList}}kotlin.collections.List{{/isList}}{{^isList}}kotlin.Array{{/isList}}<{{classname}}.{{{nameInCamelCase}}}>{{/isListContainer}}{{^isListContainer}}{{classname}}.{{{nameInCamelCase}}}{{/isListContainer}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}? = {{#defaultValue}}{{#isEnum}}null{{/isEnum}}{{^isEnum}}{{{defaultValue}}}{{/isEnum}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}}