{{paramName}}: {{#isEnum}}{{#isListContainer}}[{{classname}}.{{operationIdCamelCase}}RequestParams.{{enumName}}]{{/isListContainer}}{{^isListContainer}}{{classname}}.{{operationIdCamelCase}}RequestParams.{{{datatypeWithEnum}}}{{/isListContainer}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}