{{paramName}}: {{#isEnum}}{{#isArray}}[{{classname}}.{{operationIdCamelCase}}RequestParams.{{enumName}}]{{/isArray}}{{^isArray}}{{classname}}.{{operationIdCamelCase}}RequestParams.{{{datatypeWithEnum}}}{{/isArray}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}