{{name}}: {{#isEnum}}{{#isListContainer}}[{{classname}}.{{enumName}}]{{/isListContainer}}{{^isListContainer}}{{classname}}.{{{datatypeWithEnum}}}{{/isListContainer}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}}