source 'https://cdn.cocoapods.org'
source 'https://repo.backbase.com/api/pods/pods'

platform :ios, '15.0'

use_frameworks!
install! 'cocoapods', deterministic_uuids: false

# ignore all warnings from all pods
inhibit_all_warnings!

def normal_pods
  {{#useMsdkSwift}}
  pod 'BackbaseSDK'
  {{/useMsdkSwift}}
  {{^useMsdkSwift}}
  pod 'Backbase', '>= 9'
  {{/useMsdkSwift}}{{#useRxSwift}}
  pod 'RxSwift', '>= 5.0.0'{{/useRxSwift}}{{#useAlamofire}}
  pod 'Alamofire', '>= 4.9.1'{{/useAlamofire}}{{#usePromiseKit}}
  pod 'PromiseKit', '>= 6.12.0'{{/usePromiseKit}}
end

target 'Common' do
  use_frameworks!

  normal_pods
end

target '{{projectName}}' do
  # Comment the next line if you don't want to use dynamic frameworks
  use_frameworks!

  # Pods for {{projectName}}
  normal_pods
end