name: {{projectName}}
options:
  bundleIdPrefix: "com.backbase"
targets:
  {{projectName}}:
    type: framework
    platform: iOS
    deploymentTarget: "14.0"
    sources: [{{projectName}}]
    info:
      path: ./Info.plist
      version: {{#podVersion}}{{podVersion}}{{/podVersion}}{{^podVersion}}{{#apiInfo}}{{version}}{{/apiInfo}}{{^apiInfo}}}0.0.1{{/apiInfo}}{{/podVersion}}
    scheme:
      testTargets:
        - {{projectName}}IntegrationTests
    postBuildScripts:
      - path: ../../fix_swiftinterface.sh
        name: Fix swiftinterface