package {{modelPackage}};

{{#useJackson3}}
  import tools.jackson.databind.ser.std.ToStringSerializerBase;
{{/useJackson3}}
{{^useJackson3}}
  import com.fasterxml.jackson.databind.ser.std.ToStringSerializerBase;
{{/useJackson3}}
import java.math.BigDecimal;

public class BigDecimalCustomSerializer extends ToStringSerializerBase {

    public BigDecimalCustomSerializer() {
        super(BigDecimal.class);
    }

    @Override
    public String valueToString(Object value) {
        if (value instanceof BigDecimal) {
            return ((BigDecimal) value).toPlainString();
        }
        return (value == null) ? null : value.toString();
    }
}
