{{#isArray}}
  {{#useBeanValidation}}
    {{#uniqueItems}}java.util.Set{{/uniqueItems}}
    {{^uniqueItems}}java.util.List{{/uniqueItems}}<
    {{#items}}
      {{#isPrimitiveType}}
        {{>beanValidationCore}}
      {{/isPrimitiveType}}
      {{^isPrimitiveType}}
        @Valid
      {{/isPrimitiveType}}
    {{/items}}
    {{{items.datatypeWithEnum}}}>
  {{/useBeanValidation}}
  {{^useBeanValidation}}
    {{#uniqueItems}}java.util.Set{{/uniqueItems}}
    {{^uniqueItems}}java.util.List{{/uniqueItems}}
    <{{{dataType}}}>
  {{/useBeanValidation}}
{{/isArray}}
{{^isArray}}
  {{{dataType}}}
{{/isArray}}