{{#vendorExtensions.x-deprecated}}@Deprecated({{!
    }}since = "{{vendorExtensions.x-deprecated.since}}", {{!
    }}forRemoval = {{!
    }}{{#vendorExtensions.x-deprecated.for-removal}}{{!
        }}{{vendorExtensions.x-deprecated.for-removal}}{{!
    }}{{/vendorExtensions.x-deprecated.for-removal}}{{!
    }}{{^vendorExtensions.x-deprecated.for-removal}}false{{/vendorExtensions.x-deprecated.for-removal}}{{!
}})
{{/vendorExtensions.x-deprecated}}