{{! apply map type with String as key type }}
{{{baseType}}}<String, {{#useBeanValidation}}{{#items}}{{#isPrimitiveType}}{{>beanValidationCore}}{{/isPrimitiveType}}{{^isPrimitiveType}}@Valid{{/isPrimitiveType}}{{/items}}{{/useBeanValidation}} {{{items.datatypeWithEnum}}}>