{{#openApiNullable}}{{!
    }}{{#isNullable}}{{!
        }}JsonNullable<{{>validatedDataTypeWithEnum}}>{{!
    }}{{/isNullable}}{{!
    }}{{^isNullable}}{{!
        }}{{>validatedDataTypeWithEnum}}{{!
    }}{{/isNullable}}{{!
}}{{/openApiNullable}}{{!
}}{{^openApiNullable}}{{!
    }}{{>validatedDataTypeWithEnum}}{{!
}}{{/openApiNullable}}