{{#useBeanValidation}}{{!
    }}{{#isContainer}}{{!
	    }}{{#isMap}}{{!
	        }}{{>beanValidationCore}}{{{baseType}}}<String, {{#items}}{{>beanValidationCore}}{{{dataType}}}{{/items}}>{{!
	    }}{{/isMap}}{{!
	    }}{{^isMap}}{{!
	        }}{{#reactive}}{{{dataType}}}{{/reactive}}{{^reactive}}{{>beanValidationCore}}{{{baseType}}}<{{#items}}{{>beanValidationCore}}{{{dataType}}}{{/items}}>{{/reactive}}{{!
	    }}{{/isMap}}{{!
	}}{{/isContainer}}{{!
	}}{{^isContainer}}{{!
	    }}{{>beanValidationCore}} {{{dataType}}}{{!
	}}{{/isContainer}}{{!
}}{{/useBeanValidation}}{{!
}}{{^useBeanValidation}}{{!
    }}{{{dataType}}}{{!
}}{{/useBeanValidation}}