{{#useBeanValidation}}{{!
    }}{{#isContainer}}{{!
	    }}{{#isMap}}{{!
	        }}{{>beanValidationCore}}{{{baseType}}}<String, {{#items}}{{>beanValidationCore}}{{{datatypeWithEnum}}}{{/items}}>{{!
	    }}{{/isMap}}{{!
	    }}{{^isMap}}{{!
	        }}{{#reactive}}{{{dataType}}}{{/reactive}}{{^reactive}}{{>beanValidationCore}}{{{baseType}}}<{{#items}}{{>beanValidationCore}}{{{datatypeWithEnum}}}{{/items}}>{{/reactive}}{{!
	    }}{{/isMap}}{{!
	}}{{/isContainer}}{{!
	}}{{^isContainer}}{{!
	    }}{{>beanValidationCore}} {{{datatypeWithEnum}}}{{!
	}}{{/isContainer}}{{!
}}{{/useBeanValidation}}{{!
}}{{^useBeanValidation}}{{!
    }}{{{datatypeWithEnum}}}{{!
}}{{/useBeanValidation}}