name: Auto Merge

on:
  pull_request_target:
    types:
      - labeled
      - opened
      - synchronize
      - reopened

jobs:
  automerge:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'automerge')
    steps:
      - name: Auto-approve
        uses: hmarr/auto-approve-action@d7bc15c388690c0334b233f552dcf10b043501d2 # v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Auto-merge
        run: gh pr merge --auto --squash --delete-branch "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

