name: Find secrets

on: [push,pull_request]

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: wget
      uses: wei/wget@c15e476
      with:
        args: -O .rules.toml https://raw.githubusercontent.com/fnxpt/gitleaks-action/rules/.rules.toml
    - name: gitleaks-action
      uses: gitleaks/gitleaks-action@bf2dc8e
      with:
        config-path: .rules.toml
