name: Find secrets

on: [push,pull_request]

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: wget
      uses: wei/wget@c15e476d1463f4936cb54f882170d9d631f1aba5
      with:
        args: -O .rules.toml https://raw.githubusercontent.com/fnxpt/gitleaks-action/rules/.rules.toml
    - name: gitleaks-action
      uses: gitleaks/gitleaks-action@bf2dc8e55639c1e091e9b45970152e4313705814
      with:
        config-path: .rules.toml
